table {
  width: 100%;
}

td:hover {
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.3s;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
