<mat-form-field class="searchInput">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Search" (input)="onInputChange($event)" />
</mat-form-field>
@if(!loading){
<table mat-table [dataSource]="data">
  <!-- Dynamically generate table columns -->
  @for(column of displayedColumns; track $index) {

  <ng-container matColumnDef="{{ column }}">
    <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="
        openDialog({
          id: element.position,
          column: column,
          value: element[column]
        })
      "
    >
      {{ element[column] }}
    </td>
  </ng-container>

  }
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
} @else {
<div class="spinner-container">
  <progress-spinner></progress-spinner>
</div>
}
